
.heading {
    color : pink;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.user_chatlist_container {
    background-color: #ecdecece;
}
.right_chating_view_container {
    background-color: #eeeeee;
}
#test{
    width: inherit;
    position: absolute;
    right: 150px;
  }